{% extends 'base.html' %}

{% block title %}

Contacto

{% endblock %}

{% block content %}

<section class="container py-5">

<div class="row">

<div class="col-lg-6">

<h2>

Contáctanos

</h2>

<p>

¿Tienes dudas? Escríbenos.

</p>

<form>

<input class="form-control mb-3" placeholder="Nombre">

<input class="form-control mb-3" placeholder="Correo">

<textarea class="form-control mb-3" rows="5" placeholder="Mensaje"></textarea>

<button class="btn btn-warning">

Enviar

</button>

</form>

</div>

<div class="col-lg-6">

<img src="https://images.unsplash.com/photo-1558981806-ec527fa84c39?w=900"
class="img-fluid rounded-4">

</div>

</div>

</section>

{% endblock %}