{% load static %}

<section class="categorias py-5">

    <div class="container">

        <div class="text-center mb-5">

            <span class="section-subtitle">
                EXPLORA
            </span>

            <h2 class="section-title">
                Categorías
            </h2>

            <p class="section-text">
                Todo lo que necesitas para disfrutar cada kilómetro.
            </p>

        </div>

        <div class="row g-4">

            <div class="col-lg-3 col-md-6">

                <div class="categoria-card">

                    <img src="{% static 'IMAGENES/Cascos/casco.jpg' %}" alt="">

                    <h4>Cascos</h4>

                    <p>Protección certificada.</p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="categoria-card">

                    <img src="{% static 'IMAGENES/Chaquetas y Busos/product-16.jpg' %}" alt="Chaquetas">

                    <h4>Chaquetas</h4>

                    <p>Seguridad y estilo.</p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="categoria-card">

                    <img src="{% static 'IMAGENES/Guantes/product-04.jpg' %}" alt="Guantes">

                    <h4>Guantes</h4>

                    <p>Mayor agarre.</p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="categoria-card">

                    <img src="{% static 'IMAGENES/Accesorios/product-09.jpg' %}" alt="">

                    <h4>Accesorios</h4>

                    <p>Los mejores complementos.</p>

                </div>

            </div>

        </div>

    </div>

</section>